@font-face {
  font-family: Lato-BoldItalic;
  src: url(../../../police/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(../../../police/Lato-Black.ttf);
}

.chiffre{
    background: linear-gradient(rgb(85, 190, 247) 0%,rgb(85, 190, 247) 48%, rgba(85, 190, 247, 0.564) 48%,rgba(85, 190, 247, 0.564) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 6vw;
    font-family: Lato-Black;
}
#chiffreContent{
  background: linear-gradient(
    to bottom,
    #F8F5EC 0%,
    #F8F5EC 35%,
    rgba(255, 255, 255, 0.603) 35%,
    rgba(255, 255, 255, 0.603) 100%
  );
  max-width: 15vw;
  max-height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}
#label{
  background-color: rgba(255, 255, 255, 0.089) ;
  font-family: Lato-BoldItalic;
  font-size: 1.3vw;
  color:#050727d6 ;
  z-index: ;
}
