@font-face {
  font-family: Lato-BoldItalic;
  src: url(../../../police/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(../../../police/Lato-Black.ttf);
}

.chiffre{
    background: linear-gradient(rgb(85, 190, 247) 60%,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 4vw;
    font-family: Lato-Black;
}
#content{
  display: flex;
  align-items: center;
  flex-direction: column;
}


#label{
  font-family: Lato-BoldItalic;
  font-size: 3vw;
  
}