@font-face {
    font-family: Lato-Black;
    src: url(../../../police/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../../../police/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../../../police/Lato-Light.ttf);
}

.separation {
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: fit-content;
    padding-right: 6vw;
    padding-left: 6vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

#chiffres {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    width: fit-content;
    height: auto;
}

#chiffre-content {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;

}

#titleChiffre {
    font-family: Lato-Black;
    font-size: 5vw;

}

#bolderText {
    font-size: larger;
    font-family: Lato-Bold;
    font-size: 3vw;
    max-width: 55vw;
    text-align: center;
}

#lighterText {
    font-family: Lato-Light;
    font-size: 2vw;
    max-width: 65vw;
    text-align: center;

}

#test {
    border-right: 1px solid black;
    height: 100vh;
    padding-right: 8vh;
}

#color-chiffre {
    background-image: url('../../../assets/title-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0.1vw;
    padding-bottom: 0.7vw;
    padding-right: 0.1vw;

}





@media(max-width:780px) {

    #titleChiffre span {
        font-size: 5.5vw;
    }
    #bolderText{
        font-size: 3.5vw;
        max-width: 80%;

    }
    #lighterText{
        font-size: 2.5vw;
        
    }
    #chiffres{
        width:100%;
        justify-content: center;
    }


}

@media(max-width:630px) {

   
    #chiffres{
        gap : 5vw;
    }
    .separation{
        padding-left: 10vw;
        padding-right: 10vw;

    }

}

@media(max-width:550px) {

    #titleChiffre span {
        font-size: 6vw;
    }
    .avis-titre{
        margin-left: -10px;
    }
    #bolderText{
        font-size: 4vw;
        max-width: 80%;

    }
    #lighterText{
        font-size: 3vw;
        max-width: 80%;
    }
    #chiffres{
        gap : 5vw;
    }
    .separation{
        padding-left: 10vw;
        padding-right: 10vw;

    }

}

@media(max-width:480px) {

   
    #chiffres{
        gap : 5vw;
    }
    .separation{
        padding-left: 13vw;
        padding-right: 13vw;

    }

}

@media(max-width:400px) {

    #titleChiffre span {
        font-size: 6.5vw;
    }
    #bolderText{
        font-size: 4.75vw;
        max-width: 80%;

    }
    #lighterText{
        font-size: 3.5vw;
        max-width: 90%;
    }

}

@media(max-width:320px) {

    #titleChiffre span {
        font-size: 7vw;
    }
    #bolderText{
        font-size: 5vw;
        max-width: 90%;

    }
    #lighterText{
        font-size: 4vw;
        max-width: 90%;
    }

}

@media(max-width:294px) {
    #titleChiffre span {
        font-size: 7.5vw;
    }
    #bolderText{
        font-size: 5.5vw;
        max-width: 100%;

    }
    #lighterText{
        font-size: 4.75vw;
        max-width: 90%;
    }


}




