.contact{
    
    
}
.contact  h3{
    letter-spacing: 2px;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    font-weight: lighter;
}

ul li{
    list-style: none;
    margin-top: 0.7em;
    font-size: 1vw;
}
.contact a{ 
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-color: var(--color-bg-variant);
    padding: 10px;
}
.contact a:hover{
    color: grey;
    transition: 0.5s ease-in-out;
}
.contact-icons{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 0;
}
.contact-container{
    margin-top: 1vw;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.contact-container > ul {
    padding: 0;
    width:20vw;
}
.contact-icons li  {
    display: flex;
    align-items: center;
    justify-content: center;

}
ul li:nth-child(2){
    font-weight: bold;
    font-size: 1.75vw;
}
@media screen and (max-width:780px) {
    
    body{
        font-size: 0.5em;
    }
    .contact a{
        padding: 10px;
    }
    
}