#presentation{
    background-color: #F8F5EC;
    display: flex;
    flex-direction: column;
    gap:4vh;
}
  
  .main{
    width:100%;
  
  }
  
  video{
    width:100%;
    height:20%;
    object-fit:cover;
    height: 87vh;
    filter: brightness(0.5);
    
  }
    @media screen and (max-width:1200px){
      video {
          width: 100%;
          height: 20%;
          object-fit:contain;
      
        }
    }

.slick-next{
  position:relative;
}
.slick-arrow .slick-next{
  display: none;
}
.slick-dots{
  position: relative;
  margin-bottom: 3vw;
    bottom: 0px;
}
.slick-dots> li >button::before{
  font-size: max(1vw,8px) !important;
}
button.slick-arrow.slick-next{
  display: none !important;
}