.image2{
    width: 32vw;
    height: 350px;
    border-radius:5% ;
    
}
.image1,.image3{
    border-radius:5% ;
    width: 15vw;
    height: 210px;
}

.buttons{
    height:20px;
    width: 15px;
}
.back{
    padding-top: 20px;
    background-image: linear-gradient(to right,#F8F5EC,rgba(87, 202, 234,0.3),#F8F5EC);

  border-radius: 4%;
}
