section{
    margin-top:25px;
    height: 100vh;
    background-color: #F8F5E6;
  }
.Apropos-title{
    text-align: center;
}
   

hr{
    width: 30%;
    border: 0.1em solid black;

}
.Apropos-container{
    margin-top: 70px;
    height: 70vh;
    width: 100%;
    display: grid;
    background-color: #050727;
    grid-template-columns: 1fr 1fr;
}
.image{
    width: 100%;
    height: 70vh;
}
.Apropos-text{
    margin: 25px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#title{
    color: #57C9EA;
}
.vid-btn{
    margin-top: 30px;
    width: max-content;  
    background-color: var(--color-bg-variant);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    display: flex;
    flex-wrap: 10px;
    align-items: center;
    

}
.btn{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}