.Partenaire-title{
  text-align: right;
  background-color: var(--color-bg);
  margin-left: 2em;
}
 

#trait2{
  border: 0.1em solid black;
  background-color: var(--color-bg);
  display: flex;
  justify-content: right;
  text-align: end;
  margin-left: 65em;

}
.container{ 
    background-color: var(--color-bg);  
    display: flex;
    justify-content: right;
    align-items: end;

  }
.image{
  background-color: var(--color-bg);
}
.partenaire-container{
  background-color: var(--color-bg);
}  