.nav-hover {
    background-color: var(--color-bg);
    width: 100%;
    z-index: 3;
    top: 7.5vw;
    height: 10vw;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.24);
    background-color: #F8F5EC;
}

.hover-container {
    display: flex;
    align-items: center;
    gap: 1vw;
}
.hover-service{
    width:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
    color: black;

}
.hover-service-image{
    height: 8vw;
    width: 6.4vw;
    background-size: 6.4vw;
}

.nav-service {
    height: 7.5vw;
    display: flex;
    align-items: center;
    padding-inline: 4vw;
}

.nav-contact {
    margin-left: -4vw;
}

.nav-pres {
    margin-right: -4vw;
}

@media screen and (max-width:780px) {

    .nav-contact,
    .nav-pres {
        margin-left: 0vw;
    }
}