.big{
    background-color: #050727;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
   
}
.small{
    grid-area: small;
    display: flex;
    justify-content: space-between;
}
.one{
    grid-area: one ;

}
.text{
    display: grid;
    grid-template-columns: 1fr;
}
.two{grid-area: two ;}
.home{grid-area: home ;}
.presentation{grid-area: presentation ;} 
.contact {grid-area: contact ;}
.serviecs{grid-area: services ;} 
.list{
 display: grid;
    grid-template-columns: 1fr;
}
.icons{
  
    color: #ffffff;
}
.links{
    color: white;
    
    height:20px;
}
.links:hover{

opacity: 0.8;
}


 @media screen and (max-width: 599px) {
 .big {
   
  text-align: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "one"
  "two"
  "small";
  align-items: center;
    
 }
 .small{
    padding-bottom: 1vw;
   justify-content: space-around;
 }
 .list {
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'home presentation services contact';
    align-items: center;
    
  }
  .link{
    text-decoration: underline;
    text-underline-offset:1vw;
  }

  .text{
    margin-left: 42%;
    display: flex;
   
  }
.image{
    margin-right: 36%;
}
}

 @media screen and (min-width: 600px) {
 .big {
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  'one two small small';

  padding: 2vw;
  
}
  .list {
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "home"
    "presentation"
    "services"
    "contact"
    ;}
.text{
    margin-left: 10%;
}
.small{
    column-gap: 5vw;
}}

 
