.service-container{
    width: 100%;
    font-family: Bahnschrift;
  }
.texttt{
    text-align: center;
}

.service-container h1{
  color: black;
  margin-left: 1.4vw;;
  margin-bottom: 5px; 
  font-size: 4vw;

}
.service-container span {
  color: #57C9EA;
}
.service-hr {
  
width: 45%;
    border: 0.2vw solid black;
    margin :0;
}

  .part{
      margin: 20px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      gap: 10px;
      
  }
  .back-img {
    cursor: pointer;
      background-Size: cover;
      background-Position: center;
       width: 31%;
       aspect-ratio: 56/68;
      display: flex;
      flex-direction: column;
      gap:0.5vw;
      justify-content: center;
      align-items: center;
      position: relative; 
  }
  .back-img::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
  } 
  
  .back-img img{
      width: 25%;
      height: 20%;
  
  }
  .back-img img , 
  .back-img p{
    transform: scale(1);
    transition: 0.3s ease-in-out;

  }

  .back-img:hover img, 
  .back-img:hover p{
    transform: scale(1.3);
    
  }
  
  .back-img p {
    
      color: #F8F5E6;
      font-weight: 500;
      font-size: 1.5rem;
      
  }
  @media screen and (max-width: 1250px){
    /* .service-hr {
      
     width: 27%; 
    } */
    .service-container h1{
        color: black;
        margin-left: 20px;
        margin-bottom: 5px; 
        /* font-size: 2.2rem; */
    
    }
  }
  @media screen and (max-width: 988px){
   
    
  .service-hr {
      
    /* width: 30%; */
    margin: 0;
    border: 2px solid black;
  

}
   .back-img p {
    
      color: #F8F5E6;
      
      font-weight: 500;
      font-size: 1rem;
      
  }
  }
  @media screen and (max-width: 788px){
    /* .service-hr {
      
         width: 35%; 
    } */
    .service-container h1{
      color: black;
      margin-left: 20px;
      margin-bottom: 5px; 
      font-size: 5vw;
    
    }
  }

  @media screen and (max-width: 575px){
    .service-container h1{
     color: black;
     margin-left: 20px;
     margin-bottom: 5px; 
     /* font-size: 1.4rem;
  */
 }

  .back-img p {
   
     color: #F8F5E6;
     font-weight: 500;
     font-size: 0.7rem;
     
 }
 }


 @media screen and (max-width: 600px){
.part{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.back-img  {
 width: 70%;
 height: 40vw;
}
.back-img img {
  width: 20%;
  height: auto;
 }
 .back-img p {
  font-size: 20px;
 }
 
}

@media screen and (max-width: 500px){
  .part{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .back-img  {
   width: 90%;
   height: 40vw;
  }
  .back-img img {
    width: 20%;
    height: auto;
    margin-top: 10%;
   }
   .back-img p {
    font-size: 20px;
    margin-top: 03%;

   }
   .service-container h1{
    color: black;
    margin-left: 10px;
    margin-bottom: 5px; 
    font-size: 6.5vw;

}
.service-hr {
  
  width: 60%;
      border: 2px solid black;
      margin :0;
  }

   
  }

  @media screen and (max-width: 400px){
    .part{
      display: flex;
      flex-direction: column;
      gap:20px;
    }
    .back-img  {
     width: 97%;
     height: 40vw;
    }
    .back-img img {
      width: 20%;
      height: auto;
      margin-top: 10%;
     }
     .back-img p {
      font-size: 17px;
      margin-top: 03%;
  
     }
     .service-container h1{
      color: black;
      margin-left: 10px;
      margin-bottom: 5px; 
      font-size: 7vw;
  
  }
  .service-hr {
    
    width: 60%;
        border: 2px solid black;
        margin :0;
    }
  
     
    }
    @media screen and (max-width: 350px){
      .part{
        display: flex;
        flex-direction: column;
        gap:20px;
      }
      .back-img  {
       width: 100%;
       height: 40vw;
      }
      .back-img img {
        width: 20%;
        height: auto;
        margin-top: 10%;
       }
       .back-img p {
        font-size: 17px;
        margin-top: 03%;
    
       }
       .service-container h1{
        color: black;
        margin-left: 5px;
        margin-bottom: 5px; 
        font-size: 8vw;
    
    }
    .service-hr {
      
      width: 70%;
          border: 2px solid black;
          margin :0;
      }
    
       
      }


  



