body{
    background-color: #F8F5EC ;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    position: relative;
    animation: slideDown1 3s;
    
}
.child1{
    margin-left: 5%;
    margin-right: 3%;
    box-shadow: 
    0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    width: 45vw;
    height: 35vh;


}
.child1:hover{
    box-shadow:0px 0px 10px rgba(87, 201, 234, 1)

}
.child2:hover{
    box-shadow:0px 0px 10px rgba(87, 201, 234, 1)

}
.boxdeco{
    background-color: #57C9EA;
    margin-top: 20vh;
}

.child2{
  
    margin-left: 5%;
    margin-right: 3%;
    box-shadow: 
    0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    width: 45vw;


}
.imname1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:1%;
}

.text{
    margin-top: -7vh;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
 
}
h1{
    text-align: center;
    display: block;
}
#nom{
    font-size: 1.3rem;
    color: #57C9EA;
    font-family:black;
    font-weight: bolder;
    margin-right: 63vh;
    margin-bottom:-3vh;
    margin-top: 4vh;
    
    
}
#p{
    font-weight:300;
    margin-top: 3%;
}
#avis{
    font-style: light italic;
    font-family: light italic;
}

.im{
    width: 5vw;
    margin-top: 1rem;
    
}
.name{
    float: left;
}
hr.light {
    border-top: 0.3rem  solid  #57C9EA;
    width:10%;
    margin-top: .8rem;
    margin-bottom: .1rem ;
}
.dot2:hover {
  transform: scale(1.3);
  background-color: gray;
}
.dot1:hover {
    transform: scale(1.3);
    background-color: gray;
  }
  .dot3:hover {
    transform: scale(1.3);
    background-color: gray;
  }
.dot1 {
    height: 0.75rem;
    width: 0.75rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    margin-left: 0.5rem;
  }
  .dot2 {
    height: 0.75rem;
    width: 0.75rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    margin-left: 0.5rem;
  }
  .dot3 {
    height: 0.75rem;
    width: 0.75rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    margin-left: 0.5rem;
  }
  .circles{
    display: flex;
    margin-left: 49%;
    margin-top: 2%;
  }
  .appostrophe{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .imname1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 5vh;
}
@keyframes slideDown {
    from{
        transform:translateX(40rem);
        opacity:1;
    }
    to{
        transform: translateX(0rem);
        opacity:1;

    }
}

.box{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.pagesanimate {
    animation: slideDown1 5s;
  }
  .box.show1 {
    animation: slideDown1 5s;
  }
  @keyframes slideDown1 {
    from{
        transform:translateX(30rem);
        opacity:0;
    }
    to{
        transform: translateX(0rem);
        opacity:1;

    }
}
.parent{
    display: flex;
   
}
#i{
    border-radius: 6rem;
    height: 6vh;
    width: 4vw;
    margin-right: 4%;
 
}
.slide{
    display: flex;
    opacity: 1;
    transition-duration: 1s ease;
  }
  .slideactive{
    display: flex;
    opacity: 1;
    transition-duration: 1s;
    animation: slideDown1 1s;
    background-color: aquamarine;
  }
  .slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #picture{
    position: absolute;
    margin-top: 0.23rem;
    margin-left: 58%;
    z-index: -1;
    width: 5%;
    height: 5%;

  }
  .imname1{
    margin-top: -3%;
  }
  @media screen and (max-width: 1130px) {
   .circles{
    margin-left: 47%;
   }
   #picture{
    margin-left: 58.5%;
   }
   }
  @media screen and (max-width: 1050px) {
   p{
    font-size: 0.78rem;
   }
   .imname1{
    margin-top: -5%;
   }
   .child1{
    height: 30vh;
   }
   #picture{
    margin-left: 60%;
   }
   .circles{
    margin-left: 49%;
    
   }
  }
  @media screen and (max-width: 715px) {
    p{
     font-size: 0.5rem;
    }
    .imname1{
     margin-top: -7%;
    }
    .child1{
     height: 25vh;
    }
   }
   @media screen and (max-width: 431px) {
    p{
     font-size: 0.3rem;
    }
    .imname1{
     margin-top: -9%;
    }
    .child1{
     height: 20vh;
    }
   }






